<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>

    <body>
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

        <form action="upload/" method="POST"
        class="dropzone"
        id="myDropzone" maxFiles="1">
        {% csrf_token %}
        <div class='fallback'>
            <input name="file" type="file" value="Upload"/>
        </div>
        </form>
        <script>
            Dropzone.options.myDropzone = {
                maxFilesize: 1,
                acceptedFiles: '.csv',
                init: function() {
                    this.on('success', function(){
                        if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
                            window.location = '/'
                            consloe.log('success')
                        }
                    });
                }
            };
        </script>
        <div>
            {% autoescape off %}{{ message }}{% endautoescape %}


        </div>
        
    </body>
    
</html>
